h1 {
color:white;
text-align: center;
margin-top:40px;
}
body {
background-color:black;
background-image:url("../poze/2.jpg");
background-repeat:no-repeat;
background-size:1550px 800px;
}


div.scrollmenu a {
  display: inline-block;
  color: white;
  font-size:20px;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  color: red;
}